.card{
  display: flex;
  justify-content: center;
}

.card-title{
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.card-text
{
  font-size: 15px;
}


.card-img{
  inline-size: 99%;
}
